*{
    padding: 0px;
    margin: 0px;
}
*:focus{
    outline: 0px;
    border: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.header{
    display: flex;
    width: 15%;
    margin-left: auto;
    justify-content: space-around;
    padding-top: 20px;
}
.header a{
    text-decoration: none;
    color: rgb(66, 65, 65);
}

.appIcon{
    width: 20px;
    height: 20px;
}

main{
    text-align: center;
    padding-top: 50px;
}

.google{
    width: 20%;
}


.form{
    display: flex;
    background-color: white;
    border-radius: 50px;
    width: 40%;
    padding: 2px 10px;
    border: 1px solid silver;
    margin: auto;
    margin-top: 30px;
}

.form:hover{
    box-shadow: 1px 1px 8px rgb(201, 198, 198);
}

.form input{
    width: 100%;
    padding: 5px 10px;
    font-size: 16px;
    border: 0px;
}
.material-icons{
    padding: 10px 0px;
    cursor:default;
}

.searchIcon{
    color: silver;
}
.micIcon{
    color: blue;
}

.buttons{
    display: flex;
    width: 20%;
    justify-content: space-between;
    margin: auto;
    margin-top: 35px;
}
.buttons button{
    padding: 10px 10px;
    font-size: 16px;
    background-color: rgb(242, 245, 247);
    border: 0px;
}

.googleOffer{
    margin: auto;
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    width: 25%;
    font-size: 14px;
}

.googleOffer a{
    text-decoration: none;
    color: rgb(6, 6, 197);
}




footer{
    background-color: rgb(242, 245, 247);
    margin-top: 210px;
    
    
}

.upperFooter{
    color: gray;
    padding: 20px 30px;
    border-bottom: 1px solid rgb(209, 208, 208);
}

.lowerFooter{
    padding: 20px 30px 25px 30px;
    display: flex;
    justify-content: space-between;
}

.aboutSection{
    display: flex;
    width: 25%;
    justify-content: space-between;
}



.footer-Img{
    width: 8%;
}



.privacySection{
    display: flex;
    width: 15%;
    justify-content: space-between;
}

footer a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: gray;
    font-size: 15px;
}

a:hover{
    text-decoration: underline;
}